<body>
<form id='create_game'>
    <input type='text' size ='50' id='name_field'></input>
    <input type='submit'></input>
</form>
<button id='render'>Render</button>
<div id='games'></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>